.btn {
	border-radius: .8rem;
	background-color: transparent;
	border: 3px solid $color-primary-blue;	
	
	&--light {
		border: 2px solid $color-primary-light-blue;
		color: $color-primary-light-blue;
		font-weight: 300;
		padding: .5rem 2.5rem;
		transition: all ease-in-out .3s;

		&:hover{
			box-shadow: 0 0 3rem $color-primary-blue;
		}
	}

	&--compare {
		display: inline-block;
	}
}