.main {

	&__flex{
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media screen and (max-width: $query-small) {
			display: block;
			margin-bottom: 2rem;
		}
	}

	&__arrow {
		display: inline-block;
		font-size: 5rem;
		color: $color-primary-blue;
		text-shadow: 0 0 2.5rem $color-primary-blue;

		@media screen and (max-width: $query-small) {
			margin: 0;
		}
	}
}