.currencies {
	position: relative;

	&--center{
		text-align: center;
	}

	&__list {
		border: 3px solid $color-primary-blue;
		box-shadow: 0 0 3rem $color-primary-blue;
		border-radius: 8px;
		display: inline-block;
		padding: 4.5rem 4.5rem;

		&--columns{
			-moz-column-count: 2;
			-moz-column-gap: 2rem;
			-webkit-column-count: 2;
			-webkit-column-gap: 2rem;
			column-count: 2;
			column-gap: 2rem;
		}
	}
	
	&__item {
		color: $color-primary-light-blue;
		font-size: 2rem;
		font-weight: 300;
		list-style: none;
		
		&:not(:first-of-type){
			margin-top: 1rem;
		}
	}

	&__label {
		color: $color_primary_light_blue;
		font-weight: 300;
		font-size: 2.4rem;
	}
}