html {
	font-size: 62.5%;
}

body {
	background-color: $color-primary-dark-blue;
	color: $color-primary-blue;
	font-family: 'Roboto', sans-serif;
	font-size: $m-size;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}
