//  ###### COLORS ######
$color-primary-dark-blue: #222831;
$color-primary-blue: #00ADB5;
$color-primary-light-blue: #00FFF5;


// ##### SPACING ######
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

$grid-width: 80%;
$gutter-vertical: 3rem;
$gutter-horizontal: 1rem;

@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}